.playground {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;

  .monaco-editor-wrapper {
    width: 30%;
    padding: 20px;

    .editor {
      height: 100vh;
      width: 100%;
    }
  }

  .reactflow-wrapper {
    width: 70%;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    padding: 20px;
  }
}
